langchain>=0.0.200
langchain-community
google-generativeai
streamlit
openai
requests
beautifulsoup4
pandas
numpy
lxml
docx2txt
python-pptx
SpeechRecognition
google-auth
google-api-python-client
protobuf
python-dotenv
tqdm
PyYAML
XlsxWriter
faiss-cpu  # For FAISS vector store
